
<section class = "mt-5">
    <form>
        <input
            placeholder = "Search"
            [ngModel] = "searchText"
            (ngModelChange) = "searchProducts($event)"
            [ngModelOptions] = "{standalone: true}"
        >
    </form>
    
    <!--<input type = "search" placeholder = "Search" #searchText (input) = "searchProducts(searchText.value)">
    <input type = "submit" class = "btn btn-success" value = "Search" (click)= "searchProducts(searchText.value)">
    <select (change) =  "sortProducts($event.target.value)">
        <option *ngFor="let i of product">{{i}}</option>
    </select>-->
    
    <select [ngModel] = "product" (ngModelChange) =  "sortProducts($event)">
        <option [value]="i" *ngFor="let i of product">{{i}}</option>
    </select> 
   
    <div
        *ngIf = "isLoading; else productslist">
        <app-loader></app-loader>
    </div>

    <ng-template #productslist>
        <h1 *ngIf = "products.length === 0">No Results</h1>
        <div *ngFor = "let item of products;let i = index "
            [class.active] = "isSelected(item)"
            style = "width: 550px"
            class = "mr-auto ml-auto"
            appBorderedBox
            appShowForm
        >

        <form class = "form-group" [style.display] = "'none'"  [formGroup] = "editFormGroup" (ngSubmit)="onSubmit(i)">
            <input class = "form-control" type = "text" name="title" formControlName = "title">
                <div class="alert alert-danger" [hidden] = "editFormGroup.controls['title'].untouched || !editFormGroup.controls['title'].errors?.required">This field is required</div>
                <div class="alert alert-danger" [hidden] = "!editFormGroup.get('title').hasError('pattern')">Non valid title</div>
            
            <input class = "form-control" type = "text"  name="price"  formControlName = "price" appBlockCopyPaste>
                <div class="alert alert-danger" [hidden] = "editFormGroup.controls['price'].untouched || !editFormGroup.controls['price'].errors?.required">This field is required</div>
                <div class="alert alert-danger" [hidden] = "!editFormGroup.get('price').hasError('pattern')">Non valid price</div>
            <textarea class = "form-control" name="description" formControlName = "description"></textarea>
                <div class="alert alert-danger" [hidden] = "editFormGroup.controls['description'].untouched || !editFormGroup.controls['description'].errors?.required">This field is required</div>
                <div class="alert alert-danger" [hidden] = "!editFormGroup.get('description').hasError('maxlength')">Must be less than 250 symbol</div>
            <input class="btn btn-primary form-control" type="submit" value = "Save" [disabled] = "editFormGroup.invalid">
        </form>

        <app-product-row  [product] = "item" (selectedProduct) = "getSelected($event)">
            <h1 #contectChild>ContentChild</h1>     
        </app-product-row>
        </div>
    </ng-template>
</section>
