<section>
<div class="card mb-3" style="width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img [src]="product.imgUrl" class="card-img" alt="..." style = "height: 310px;">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <div class = "d-flex justify-content-md-end"><h4>{{product.price | currency: 'EUR'}}</h4></div>
          <h2 #childText>ViewChild</h2>
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text">{{product.description}}</p>
        </div>
      </div>
    </div>
  </div>.
  <a [routerLink] = "'/product/' + product?.id + '/info'"  class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Info</a>
  <a [routerLink] = "'/product/' + product?.id + '/review'" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Review</a>
  <a [routerLink] = "'/product/' + product?.id + '/shops'" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Shops</a>
  <router-outlet></router-outlet>
</section>

