<div  class = "mx-auto" style="width: 600px; margin-top:100px">
    <h1>New Password</h1>
    <form [formGroup] = "newPassword" (ngSubmit) = "saveNewPassword()">
        <div class="form-group">
            <label for="exampleInputPassword1"> New Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1"
                formControlName = "password">
                <p  class = "text-danger" [hidden] = "newPassword.controls['password'].untouched || !newPassword.controls['password'].errors?.required">This field is required</p>
                <p  class = "text-danger" [hidden] = "!newPassword.get('password').hasError('minlength')">Must be more than 8 symbol</p>
                <p  class = "text-danger" [hidden] = "!newPassword.get('password').hasError('maxlength')">Must not be less than 16 symbol</p>
            <label for="inputPassword4"> Confirm Password</label>
            <input type="password" formControlName = "confirmPassword" class="form-control" id="inputConfirmPassword4">
                <p  class = "text-danger" [hidden] = "!newPassword.get('confirmPassword').hasError('confirmPassword')">Confirmed password is not true</p>
        </div>
        <button type="submit" class="btn btn-primary" [disabled] = "newPassword.invalid">Save</button>
    </form>
</div>